<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
     <display-name>Serie3Excercice1</display-name>
    <servlet>
        <servlet-name>E_tudiant</servlet-name>
        <servlet-class>web.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>e_tudiant</servlet-name>
        <url-pattern>/E_tudiant</url-pattern>
    </servlet-mapping>    
    <welcome-file-list>
    <welcome-file>EtudiantVue.jsp</welcome-file>
    </welcome-file-list>
</web-app>